@using Sky.Common.DTO

@model UI.Web.Models.Customer.SocialMediaAccountModel

@{
    string PageTitle = string.Format("{0} - {1}", Model.SocialMediaAccount.AccountName, Model.SocialMediaAccount.TKSocialMediaPlatform);
    ViewBag.Title = PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";

    System.Globalization.CultureInfo EnglishCultureInfo = new System.Globalization.CultureInfo("en-US");
    WebVersion WebVersion = ViewBag.WebVersion ?? WebVersion.CreateAsSingleton();
    string CDNBaseURL = System.Configuration.ConfigurationManager.AppSettings["CDNBaseURL"];
}

@section topCSS{
    <link href="/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" />
    <link href="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
}

@section topJS{
    <script src="/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
    <script src="/assets/global/plugins/jquery-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-form/jquery.form.js" type="text/javascript"></script>
}

<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Anasayfa</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/Customer/List">Müşteriler</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <strong>
                    <a href="/Customer/Detail/@Model.Customer.ID#social_media_accounts">
                        @string.Format("{0} {1}", Model.Customer.FirstName, Model.Customer.LastName)</a>
                </strong>
            </li>
            <li>
                <i class="fa fa-circle"></i>
                <span>@PageTitle</span>
            </li>
        </ul>
    </div>
    <h3 class="page-title"></h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-save font-green"></i>
                        <span class="caption-subject font-green bold uppercase">@PageTitle</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    @using (Html.BeginForm("SocialMediaAccountUpdateAjax", "Customer", FormMethod.Post, new { id = "form-update-social-media-account" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-body">

                            <input type="hidden" name="ID" value="@Model.SocialMediaAccount.ID" />

                            <div class="form-group form-md-line-input">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-@Model.SocialMediaAccount.TKSocialMediaPlatform.ToString().ToLower(EnglishCultureInfo)"></i></span>
                                    <input
                                        type="text"
                                        class="form-control"
                                        autocomplete="off"
                                        maxlength="50"
                                        value="@Model.SocialMediaAccount.TKSocialMediaPlatform.ToString()"
                                        disabled="disabled"
                                        readonly="readonly" />
                                    <label>Sosyal Medya Platformu</label>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <div class="input-group">
                                    <span class="input-group-addon">@@</span>
                                    <input
                                        type="text"
                                        class="form-control"
                                        autocomplete="off"
                                        id="account_name"
                                        name="AccountName"
                                        value="@Model.SocialMediaAccount.AccountName"
                                        maxlength="50"
                                        required="required" />
                                    <label for="account_name">Hesap Adı</label>
                                    <span class="help-block">Maksimum uzunluk: 50 karakter</span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input
                                    type="text"
                                    class="form-control"
                                    autocomplete="off"
                                    id="follower_count_inreg"
                                    name="FollowerCountInReg"
                                    value="@Model.SocialMediaAccount.FollowerCountInReg"
                                    maxlength="50"
                                    required="required" />
                                <label for="followercount_inreg">İlk Kayıt Takipçi Sayısı</label>
                                <span class="help-block">Bu bilgi istatistik amaçlı tutulmaktadır.</span>
                            </div>

                            <div class="form-group" id="div-thumb-from-file">
                                <label class="label-switch col-md-2">İlk Kayıt Ekran Görüntüsü</label>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 300px;">
                                        <img src="@(string.Format("{0}/{1}", CDNBaseURL, Model.SocialMediaAccount.ScreenShotInReg))" />
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 300px;"></div>
                                    <div>
                                        <span class="btn default btn-file">
                                            <span class="fileinput-new">GÖZAT</span>
                                            <span class="fileinput-exists">DEĞİŞTİR </span>
                                            <input type="file" data-max-size="4000000" id="screenshow_inreg" name="ScreenShotInReg" />
                                        </span>
                                        <a href="javascript:;" class="btn red fileinput-exists"
                                            data-dismiss="fileinput">KALDIR </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions noborder">
                            <div class="col-md-2">
                                <a href="/Customer/Detail/@Model.Customer.ID#social_media_accounts" class="btn btn-block default"><i class="fa fa-arrow-left"></i>GERİ</a>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" id="submit" class="btn btn-block blue"><i class="fa fa-save"></i>GÜNCELLE</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section bottomJS{

    <script src="/assets/content/js/ajax/customer.ajax.js"></script>

    <script>
        $(document).ready(function () {
            $("#follower_count_inreg").inputmask({
                mask: '9',
                repeat: 12,
                greedy: !1,
                allowMinus: false
            });
        });

        $('#form-update-social-media-account').ajaxForm({
            beforeSend: function (e) {

                if ($('#account_name').val() == '') {
                    toastr.warning("Hesap adını giriniz.");
                    $('#account_name').focus();
                    return false;
                }

                if ($('#follower_count_inreg').val() == '') {
                    toastr.warning("İlk kayıt takip sayısını giriniz.");
                    $('#follower_count_inreg').focus();
                    return false;
                }

                global.showLoader();
            },
            complete: function (result) {

                global.hideLoader();

                result = result.responseJSON;

                if (result != undefined) {
                    if (result.IsSuccess) {
                        $('#submit').attr('disabled', 'disabled');
                        toastr.success(result.Message)
                    }
                    else {
                        toastr.error(result.Message)
                    }
                }
                else {
                    toastr.error('Internal Server Error');
                }
            }
        });
    </script>
}