@model UI.Web.Models.User.UserPasswordResetListModel
@{
    ViewBag.Title = "Şifre Sıfırlama Talepleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section topCSS{
    <link href="/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" />

    @Html.Partial("/Views/Shared/Partial/_DatatableCSS.cshtml")
}

@section topJS{
    <script src="/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>

    @Html.Partial("/Views/Shared/Partial/_DatatableJS.cshtml")
}

<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/">Anasayfa</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/User/List">Kullanıcılar</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <strong><a href="/User/Detail/@Model.User.ID">@string.Format("{0} {1}", Model.User.FirstName, Model.User.LastName)</a></strong>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/User/Detail/@Model.User.ID#security_settings">Giriş Bilgileri</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Şifre Sıfırlama Talepleri</span>
            </li>
        </ul>
    </div>
    <h3 class="page-title"></h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-turquoise">
                        <i class="fa fa-key font-green-turquoise"></i>
                        <span class="caption-subject bold uppercase">Şifre Sıfırlama Talepleri</span>
                    </div>
                </div>

                <div class="portlet-body form">

                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="password_reset_list">
                        <thead>
                            <tr>
                                <th class="hidden"></th>
                                <th class="text-center">Platform</th>
                                <th class="text-center">Kullanıldı</th>
                                <th class="text-center">Kullanan IP Adres</th>
                                <th class="text-center">Kullanılan Tarih</th>
                                <th class="text-center">Sona Erme Tarihi</th>
                                <th class="text-center">IP Adres</th>
                                <th class="text-center">Oluşturulma Tarihi</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.UserPasswordResetList)
                            {
                                <tr class="odd gradeX object-item" data-id="@item.ID" id="object_@item.ID">
                                    <td class="hidden">&nbsp;</td>
                                    <td class="text-center">
                                        <span class="label label-sm label-info">@item.TKPlatform.ToString()</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-sm label-@(item.IsUsed ? "success" : "danger")">
                                            @(item.IsUsed ? "Evet" : "Hayır")
                                        </span>
                                    </td>
                                    <td class="text-center">@item.UserIPAddress</td>
                                    <td class="text-center">@(item.UsedAt.HasValue ? item.UsedAt.Value.ToString("yyyy.MM.dd HH:mm:ss") : null)</td>
                                    <td class="text-center">@item.ExpiredAt.ToString("yyyy.MM.dd HH:mm:ss")</td>
                                    <td class="text-center">@item.IPAddress</td>
                                    <td class="text-center">@item.CreatedAt.ToString("yyyy.MM.dd HH:mm:ss")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section bottomJS{
    <script>
        $(document).ready(function () {
            datatableGenerator.normal('#password_reset_list', 7);
        });
    </script>
}